.icon.outbound {
    display: none;
}

.home {
    padding-top: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
}

.demo {
    text-align: left;
    padding-left: 1rem;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.demo ul {
    text-align: left;
    list-style: none;
}

.who {
    margin: auto;
    padding: 0.1rem 0;
    text-align: center;
    max-width: 400px;
    background: #ffa;
    border-radius: 0.4rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.who ul {
    text-align: left;
    margin: 1rem;
    list-style: square;
}

.screenshots {
    text-align: right;
    flex: 1;
    padding-right: 1rem;
}

.screenshots img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.contact {
    text-align: center;
}

@media only screen and (max-width: 719px) {
    .container {
        flex-direction: column;
    }

    .screenshots {
        text-align: center;
    }

    .demo {
        text-align: center;
    }

    .demo ul {
        text-align: center;
    }
}
